@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.connect-button{
    height: 40px;
    width: 140px;
    border-style: solid;
    border-radius: 12px;
    background-color: aliceblue;
}